@import '../../scss/variables.scss';
.landing-page-container {
    background-color: $secondary;
    .landing-page-header {
        display: flex;
        font-size: 30px;
        
        // padding: 10px;
        // .landing-page-font{
        //     padding-top: 30px;
        //     padding-left: 1px;
        //     color: darkslategray;
        //     font-weight: bold;
        //     font-family: 'lucida grande';
        // }
        // .fitness-dial-logo {
        //     width: 40px;
        // }
        // .navbar {
        //     display: flex;
            
        //     li.navbar-item {
        //         list-style: none;
        //         padding: 10px;
        //         margin: 10px;
        //     }
        // }
    }
   
    .landing-page-body {
        display: flex;
        height: 100vh;
        .landing-page-left-pane {
            width: 50%;
            border-right: 1px solid lightgrey;
            padding-top:  70px;
          
        }
        .landing-page-right-pane {
            p {
                font-size: 14px;
            }
            width: 50%;
            .heading {
                padding: 15px;
                font-size: 21px;
            }

        }
    }
}